%footer
  .row
    .col
      = link_to 'http://ulmeria.ru/' do
        = image_tag 'tramway/sport_school/admin.jpg', class: 'img-thumbnail'
    .col
      = link_to 'http://sport.ulgov.ru/' do
        = image_tag 'tramway/sport_school/min_sport.jpg', class: 'img-thumbnail'
    .col
      = link_to 'http://ulkms.ru/' do
        = image_tag 'tramway/sport_school/rule_sport.jpg', class: 'img-thumbnail'
    .col
      = link_to 'http://knnvs.com/' do
        = image_tag 'tramway/sport_school/knnvs.png', class: 'img-thumbnail'
    .col
      = link_to 'https://vk.com/annvs73' do
        = image_tag 'tramway/sport_school/annvs73.jpg', class: 'img-thumbnail'
    .col
      = link_to 'http://gosuslugi.ru' do
        = image_tag 'tramway/sport_school/gosuslugi.jpg', class: 'img-thumbnail'
