.site-wrapper
  .site-wrapper-inner
    .cover-container
      %main.inner.cover{ role: :main }
        %h1.cover-heading Спортивная школа Ленинского района
        %p.lead Главный слоган спортивной школы Ленинского района
        %p.lead
          - [ :parents, :schoolkids, :adults ].each do |block|
            = link_to t("blocks.header_buttons.#{block}"), "##{block}", class: 'btn btn-lg btn-secondary scroll', data: { id: block }
      .inner
        %p
          г.Ульяновск, ул.Марата, 9
        %p
          8(8422) 58-96-07
        %p
          = link_to fa_icon('vk 4x'), 'https://vk.com/'
          = link_to fa_icon('twitter 4x'), 'https://twitter.com/'
