= render 'tramway/sport_school/web/welcome/shared/block', id: :parents do
  %h1.cover-heading Мы находимся в центре города
  %p.lead Вы живете в Ленинском районе города Ульяновска? Или может быть ваш ребенок учится в одной из центральных школ города? Вы стали замечать, что у него есть способности к спорту? Тогда вам сюда!


= render 'tramway/sport_school/web/welcome/shared/block', id: :trainers do
  .row
    .col
      %h1.cover-heading
        Опытный коллектив тренеров
  %hr
  .row
    = render 'tramway/sport_school/web/welcome/shared/man_card', photo: 'tramway/sport_school/director.jpg', name: 'Егоров Р.Е.', position: 'Заслуженный мастер спорта России'
    = render 'tramway/sport_school/web/welcome/shared/man_card', photo: 'tramway/sport_school/director.jpg', name: 'Егоров Р.Е.', position: 'Заслуженный мастер спорта России'
    = render 'tramway/sport_school/web/welcome/shared/man_card', photo: 'tramway/sport_school/director.jpg', name: 'Егоров Р.Е.', position: 'Заслуженный мастер спорта России'
    = render 'tramway/sport_school/web/welcome/shared/man_card', photo: 'tramway/sport_school/director.jpg', name: 'Егоров Р.Е.', position: 'Заслуженный мастер спорта России'
