.site-wrapper
  .site-wrapper-inner
    .cover-container
      %header.masthead.clearfix
        .inner
          %h3.masthead-brand Спортивная школа
          %nav.nav.nav-masthead
            %a.nav-link.active{ href: '#' } Для родителей
            %a.nav-link{ href: '#' } Для школьников
            %a.nav-link{ href: '#' } Для взрослых
            %a.nav-link{ href: '#' } Контакты
      %main.inner.cover{ role: 'main' }
        %h1.cover-heading Спортивная школа Ленинского района
        %p.lead Главный слоган спортивной школы Ленинского района
        %p.lead
          = link_to 'Я - родитель ребёнка', '#parents', class: 'btn btn-lg btn-secondary'
          = link_to 'Я - школьник', '#scholer', class: 'btn btn-lg btn-secondary'
          = link_to 'Я - взрослый', '#adult', class: 'btn btn-lg btn-secondary'
      %footer.mastfoot
        .inner
          %p
            Cover template for
            = succeed ',' do
              %a{ href: 'https://getbootstrap.com/' } Bootstrap
            = succeed '.' do
              %a{ href: 'https://twitter.com/mdo' } @mdo
